<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pubify - <%- title %></title>
    </head>
    <body>
        <div class="wrapper">
            <%- include('../Views/layouts/header.ejs') %>

            <h1>Booking</h1>
            <main>
                

                <!-- <form id="register-form" action="/" method="POST" style="display:none" enctype="multipart/form-data">                
                    <div class="modal-body">
                      <div id="div-register-msg">
                        <div id="icon-register-msg" class="glyphicon glyphicon-chevron-right"></div>
                          <span id="text-register-msg">Register</span>
                        </div>
                          <input name="email" class="form-control" type="email" placeholder="Email" required>
                          <input name="phonenumber" class="form-control" type="number" placeholder="Phonenumber">
                          <input name="password" class="form-control" type="password" placeholder="Password" required>
                      </div>
                      <div class="modal-footer">
                      <!--<div class"checkbox">
                        <label><input type="checkbox">I have read and understood the terms for Debate.It</label>
                      </div>
                      <input type="submit" class="btn btn-success btn-block" value="Register">
                    </div>
                  </form> -->
            </main>

            <%- include('../Views/layouts/footer.ejs') %>
        </div>
    </body>
</html>